<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.proxama.tpsdkreferenceapp"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".BleTriggerActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name="com.proxama.tappointauth.sync.SyncService"/>
        <service android:name="com.proxama.trigger.ble.BleTriggerService"/>
        <service android:name="com.proxama.ble.BleScannerManagerImpl"></service>

        <receiver android:name="com.proxama.ble.BleScannerBroadcastReceiver">
            <intent-filter>
                <action android:name="com.proxama.ble.scanner.ACTION_SCHEDULE_SCAN"></action>
            </intent-filter>
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED"/>

            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.proxama.trigger.ble.BleScanEventReceiver"
                  android:exported="false" >
            <intent-filter>
                <action android:name="com.proxama.ble.scanner.ACTION_SCAN_COMPLETE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.proxama.trigger.ble.model.dao.BleTriggerProvider"
            android:authorities="com.proxama.tpsdkreferenceapp.bletriggerprovider"
            android:exported="false">
        </provider>

        <receiver android:name="com.proxama.tpsdkreferenceapp.BleTriggerReceiver">
            <intent-filter>
                <action android:name="com.proxama.tappoint.action.ACTION_TRIGGERS_DETECTED"/>

            </intent-filter>
        </receiver>
        <receiver android:name="com.proxama.tappoint.internal.trigger.module.BleTriggerEventReceiver" >
            <intent-filter>
                <action android:name="com.proxama.trigger.ble.processor.TRIGGEREVENTS" />
            </intent-filter>
        </receiver>


    </application>

</manifest>
